* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* ====================
 Mais sobre espaçamentos;
==================== */

.center {
  /*box-sizing: border-box;*/ /* essa propriedade retira o espaçamento extra */
  width: 1000px;
  margin: 0 auto;
  background-color: gray;
  padding: 30px;
}

.artigo {
	width: 100%;
	margin-bottom: 40px;
}
