* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/*
    ======================
    PSEUDO CLASSES 1/2/3
    ======================
*/

ul {
  list-style-position: inside;
}

.box {
  width: 100%;
}

.box > div {
  box-sizing: border-box;
  float: left;
  width: 33.3%;
  height: 400px;
  background-color: red;
  border: 1px solid black;
}

/* 
PEGUE TODAS AS DIVS MENOS A DIV ESPECIFICA

.box div:not(.one){
    background-color: gold;
} */

/* 
PEGA O ÚLTIMO ELEMENTO DO TIPO ESPECIFICO

.box div:last-of-type p{
    color: rgba(255,255,255,1);
} */

/*
DE ACORDO COM  O TIPO DO ELEMENTO

ul li:nth-of-type(2){
    color: red;
} */

/* 
DE ACORDO COM OS FILHOS(as)

ul span:nth-child(5){
    color: red;
} */

/* 
PEGA O ÚLTIMO ELEMENTO DO MESMO TIPO

.box div:last-of-type,
.box p:last-of-type {
  background-color: green;
} */

/* DEMAIS PESUDO CLASSES PESQUISAR NO W3SCHOOLS */