* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/*
    ======================
    PSEUDO CLASSES 1/2/3
    ======================
*/

.parent{
    width: 100%;
    padding: 90px 0;
    text-align: center;
    background-color: #069;
}

.item{
    display: inline-block;
    margin: 20px 0;
    width: 300px;
    height: 300px;
    background-color: green;
}

/* 
A CADA 2 ELEMENTOS APLIQUE O ESTILO

.parent div:nth-of-type(2n + 1) div.item{
    background-color: red;
} */