* {
  margin: 0;
  padding: 0;

  font-family: "Quicksand", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal; */

  /* <weight>: Use a value from 300 to 700
  <uniquifier>: Use a unique and descriptive class name */
}

html,
body {
  height: 100%;
}

/*
    ======================
    Personalizando elementos de formulários
    ======================
*/

/* PERSONALIZANDO BOTÃO FILE */

input[type=file]{
  display: none;
}

.file{
  /* display: inline; PADRÃO */

  display: block;
  margin: 40px auto;
  width: 220px;
  height: 40px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  border-radius: 8px;
}

.file:hover{
  background-color: rgb(76, 15, 133);
}

/* PERSONALIZANDO OPTIONS */

form{
  text-align: center;
  background-color: #ccc;
  padding: 30px 0;
}

form select{
  width: 220px;
  height: 30px;
  padding-left: 10px;
  border: 0;
  border-radius: 8px;
  background-image: url('../images/before.png');
  background-size: 20px 20px;
  background-position: 96% 5px;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand{
  display: none;
}

/* PERSONALIZANDO CHECKBOX */

input[type=checkbox]{
  display: none;
}

label{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgb(76, 15, 133);
}

input[type=checkbox]:checked + label{
  background-color: blueviolet;
}